<!-- tabla-carreras.ejs -->
<div class="col">
  <h4 class="text-white text-center">Fechas Calendario 2023</h4>
    <table class="table table-sm table-dark">
        <thead class="text-success rounded-2">
          <tr>
            <th>N°</th>
            <th>Fecha</th>
            <th>Circuito</th>
            <th>Pais</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < carreras.length; i++) { %>
            <tr>
              <td class="text-success"><%= carreras[i].idCarrera %></td>
              <td><%= carreras[i].fecha %></td>
              <td><%= carreras[i].circuito %></td>
              <td><%= carreras[i].pais %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
</div>

  
  