<div class="col-8">
    <h4 class="text-white text-center">Pilotos F1 2023</h4>
      <table class="table table-sm table-dark">
          <thead class="text-success rounded-2">
            <tr>
              <th>N°</th>
              <th>Nombre</th>
              <th>Escuderia</th>
              <th>Avatar</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < equipos.length; i++) { %>
              <tr>
                <td class="text-warning"><%= equipos[i].idPiloto %></td>
                <td><%= equipos[i].nombre %></td>
                <td><%= equipos[i].escuderia %></td>
                <td>🏎</td>
              </tr>
            <% } %>
          </tbody>
        </table>
  </div>