<div class="col-6 mt-3">
  <h4 class="text-white text-center">Ranking Escuderías 2023</h4>
  <table class="table table-sm table-dark">
    <thead class="text-success">
        <tr>
          <th>Posición</th>
          <th>Escudo</th>
          <th>Nombre</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% ranking.forEach((item) => { %>
          <tr>
            <td class="text-success"><%= item.posicion %></td>
            <td><img src="img/escuderia/<%= item.escuderia %>.png"></td>
            <td><%= item.escuderia %></td>
            <td><%= item.puntos %></td>
          </tr>
        <% }); %>
      </tbody>
      
  </table>
</div>
