<!-- ------------------------- tabla de resultados -------------------------- -->

<div class="my-4">
  <div class="row">
    <h4 class="text-white text-center">Tabla Clasificaciรณn F1 2023</h4>
  </div>
  <section id="tabla">
    <table class="table table-dark table-striped">
      <thead class="text-success">
        <tr>
          <th scope="col">Posicion</th>
          <th scope="col">Piloto</th>
          <th scope="col">๐ง๐ญ</th>
          <th scope="col">๐ธ๐ฆ</th>
          <th scope="col">๐ฆ๐บ</th>
          <th scope="col">๐ฆ๐ฟ</th>
          <th scope="col">๐บ๐ธ</th>
          <th scope="col">๐ฎ๐น</th>
          <th scope="col">๐ฒ๐จ</th>
          <th scope="col">๐ช๐ธ</th>
          <th scope="col">๐จ๐ฆ</th>
          <th scope="col">๐ฆ๐น</th>
          <th scope="col">๐ฌ๐ง</th>
          <th scope="col">๐น๐ฏ</th>
          <th scope="col">๐ง๐ช</th>
          <th scope="col">๐ณ๐ฑ</th>
          <th scope="col">๐ฎ๐น</th>
          <th scope="col">๐ธ๐ฌ</th>
          <th scope="col">๐ฏ๐ต</th>
          <th scope="col">๐ถ๐ฆ</th>
          <th scope="col">๐บ๐ธ</th>
          <th scope="col">๐ฒ๐ฝ</th>
          <th scope="col">๐ง๐ท</th>
          <th scope="col">๐จ๐ฑ</th>
          <th scope="col">๐ด๓ง๓ข๓ฅ๓ฎ๓ง๓ฟ</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <% resultados.sort((a, b) => { const aTotalPuntos =
        a.carreras.reduce((acc, curr) => acc + curr.puntaje, 0); const
        bTotalPuntos = b.carreras.reduce((acc, curr) => acc + curr.puntaje, 0);
        return bTotalPuntos - aTotalPuntos; }).forEach((piloto, index) => { %>
        <tr>
          <td class="text-warning"><%= index + 1 %></td>
          <td><%= piloto.nombre %></td>
          <% let totalPuntos = 0; %> <% for (let j = 0; j <
          piloto.carreras.length; j++) { %> <% totalPuntos +=
          piloto.carreras[j].puntaje; %>
          <td><%= piloto.carreras[j].puntaje %></td>
          <% } %> <% for (let j = piloto.carreras.length; j < 23; j++) { %>
          <td></td>
          <% } %>
          <td><%= totalPuntos %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
</div>
