<!-- ------------------------- tabla de jugadores -------------------------- -->
<section id="tabla">
    <table class="container table table-dark table-striped">
        <thead class="text-success">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Piloto</th>
            <th scope="col">🇧🇭</th>
            <th scope="col">🇸🇦</th>
            <th scope="col">🇦🇺</th>
            <th scope="col">🇦🇿</th>
            <th scope="col">🇺🇸</th>
            <th scope="col">🇮🇹</th>
            <th scope="col">🇲🇨</th>
            <th scope="col">🇪🇸</th>
            <th scope="col">🇨🇦</th>
            <th scope="col">🇦🇹</th>
            <th scope="col">🇬🇧</th>
            <th scope="col">🇹🇯</th>
            <th scope="col">🇧🇪</th>
            <th scope="col">🇳🇱</th>
            <th scope="col">🇮🇹</th>
            <th scope="col">🇸🇬</th>
            <th scope="col">🇯🇵</th>
            <th scope="col">🇶🇦</th>
            <th scope="col">🇺🇸</th>
            <th scope="col">🇲🇽</th>
            <th scope="col">🇧🇷</th>
            <th scope="col">🇨🇱</th>
            <th scope="col">🏴󠁧󠁢󠁥󠁮󠁧󠁿</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < resultados.length; i++) { %>
            <tr>
              <td class="text-success"><%= resultados[i].resultado %></td>
              <td><%= resultados[i].piloto1 %></td>
              <td><%= resultados[i].piloto2 %></td>
              <td><%= carreras[i].pais %></td>
            </tr>
          <% } %>
          <tr>
            <th scope="row">1</th>
            <td>Pierre Gasly</td>
            <td>25</td>
            <td>18</td>
            <td>15</td>
            <td>12</td>
            <td>10</td>
            <td>8</td>
            <td>6</td>
            <td>4</td>
            <td>2</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </section>